.root {
  display: inline-block;
  height: 100%;
  width: 15%;
  height: 720px;
  padding: 20px;
  border-right: 1px solid rgb(220, 220, 220);
  box-sizing: border-box;
  vertical-align: top;
}
.header {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #131921;
  font-size: 18px;
}
.list {
  padding: 10px;
  padding-bottom: 50px;
  font-size: 14px;
}

.minPrice {
  float: left;
}
.maxPrice {
  float: right;
}
