.root {
  display: inline-block;
  height: 100%;
  width: 20%;
  height: 700px;
  border-right: 2px solid #ddd;
  box-sizing: border-box;
  vertical-align: top;
}
.subject {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 10px;
  color: #0f1111;
}
.price {
  cursor: pointer;
}
.brand {
  cursor: pointer;
}
.category {
  color: #333;

  cursor: pointer;
}
