.root {
  display: inline-block;
  height: 100%;
  width: 15%;
  height: 720px;
  padding: 20px;
  border-right: 1px solid rgb(220, 220, 220);
  box-sizing: border-box;
  vertical-align: top;
}
.item1 {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #131921;
  font-size: 18px;
}
.item2 {
  padding: 10px;
  padding-bottom: 50px;
  font-size: 14px;
}
.item3 {
  cursor: pointer;
  padding: 5px;
}
.price {
  padding: 5px;
  width: 150px;
  cursor: pointer;
}
.newcategory {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #131921;
  font-size: 18px;
  cursor: cell;
}
