.right {
  display: inline-block;
  width: 80%;
}

.category {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 3px;
}
.cross {
  display: inline-block;
  cursor: pointer;
}

.new {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 3px;
  cursor: cell;
  text-decoration: none;
}
