.root {
  display: inline-block;
  width: 85%;
  box-sizing: border-box;

  padding: 30px;
}
.newproductWrapper {
  padding: 10px;
  width: 180px;
  border: 1px solid rgb(220, 220, 220);
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}
.newproduct {
  text-decoration: none;
  color: #131921;
  cursor: cell;
}
.product {
  display: grid;
  grid-template-columns: 240px 240px 240px 240px 240px;
}
.card {
  display: grid;
  grid-template-rows: auto auto;
  width: 180px;
  height: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}
.image1 {
  height: 200px;
}
.image2 {
  width: 180px;
  height: auto;
}
.text {
  display: grid;
  grid-template-rows: 60px 10px;
  padding: 10px;
  margin-top: 10px;
  font-size: 12px;
  height: 70px;
}
